.dashboard {

  .charts {
    height: 300px;
    margin: 10px;
  }

  .bg_white {
    text-align: center;

    .el-button {
      margin-bottom: 20px;
      padding: 0 15px;
    }
  }

  .charts_area {
    margin-top: 25px;
    background-color: darken($base-menu-color, 5%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }


  .sundry {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 25px;
    margin-top: 25px;

    .employee {}

    .todo_list {}

    .post_card {}
  }
}
